<!-- <ion-text class="title">WELCOME</ion-text>
<ion-card-content class="enter">
    <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="text" placeholder=" Email" name="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" placeholder=" Password" name="password"></ion-input>
    </ion-item>
    <div class="forgot"><ion-button fill="clear">Forgot Password?</ion-button></div>
    <div class="sign"><ion-button shape="around">Sign in My Account</ion-button></div>
</ion-card-content>
<ion-text>Dont have an account?</ion-text>
<div class="sign"><ion-button fill="clear">Sign up now</ion-button></div>

<ion-button (click)="gotoPage()">Go to pages</ion-button> -->